<% provide(:title, 'AGE') %>

<div class="home">
  <%= render 'articles_types/heading'%>
  <section class="row all_posts">

    <%@articles.drop(4)[0,1].each do |article|%>
        <div class="post-<%=article.id%>">
        <%= render "articles_types/interview",  article: article%>
          </div>
    <%end%>
    <%@articles.drop(4)[1,3].each do |article|%>
        <div class="post-<%=article.id%>">
          <%= render "articles_types/interview",  article: article%>
        </div>
    <%end%>
  </section>

  <%= render 'articles_types/videos'%>
  <section class="row all_posts">
    <%@sports.each do |article|%>
        <div class="post-<%=article.id%>">
          <%= render "articles_types/rectangle",  article: article%>
        </div>
    <%end%>
    </section>
</div>