<div class="col-sm-3 post">
  <div class="row m0 inner">
    <div class="row m0 featured_img">
      <%= link_to article_path(article) do %>
          <%= image_tag article.image.url(:all_article) ,class:'img-responsive'%>
      <%end%>
    </div>
    <div class="row m0 post_contents">
      <div class="row m0 category <%=article.category.name%>">
        <a href="#"><%=article.category.name%></a>
      </div>
      <h3 class="post_title" ><%= link_to article.title.first(45) , article_path(article) ,style:'font-size: 14px;'%></h3>
      <ul class="post_meta nav nav-pills">
        <li><%=article.created_at.strftime("%A, %b %d")%> By <%= article.user.name%></li>
      </ul>
    </div>
  </div>
  </div>
<%=render 'articles/partials/comment'%>