<section class="row">
  <div class="container-fluid">
<div class="row m0 elements_col">

<div class="contactForm row m0">
  <%=form_for @article ,html: { class:'row', multipart: true } do |f|%>
    <div class="col-sm-4">
      <div class="input-group">
        <%=f.text_field :title, class:'form-control', placeholder:'Title'%>
      </div>
    </div>
      <div class="col-sm-4">
        <div class="input-group">
          <%= f.collection_select :category_id, Category.all, :id, :name, :prompt => "Category" %>
          <%= f.select :article_type, article_types.each{ |i| i.to_s }, :prompt => 'Select One' %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="input-group">
          <%=f.check_box :published%>
          <%=f.file_field :image %>
        </div>
      </div>
    <div class="col-sm-12">
      <div class="input-group textarea">
        <%=f.cktext_area :description%>
      </div>
    </div>

        <%= f.label :tag_list, "Tags (separated by commas)" %><br />
        <%= f.text_field :tag_list %>


      <div class="col-sm-2">
      <%=f.submit class:'btn btn-primary'%>
    </div>
  <%end%>
</div>
</div>
  </div>
</section>