

<% provide(:title, "#{@article.title}") %>

<section class="row col-sm-8">
  <%= image_tag @article.image.url(:article) ,class:'img-responsive', style: 'margin-left: 25%;  margin-top: 2%'%>
</section>
<section class="row">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 single-blog sticky content_col">
      <div class="row m0 inner">
        <div class="post_inner row m0">
          <div class="social">
            <%=link_to root_path do %>
                <div class="twitter-share">
                  <p><i class="fa fa-twitter" style="margin-right: 3px;"></i>Twitter</p>
                </div>
            <%end%>
            <div class="facebook-share">
              <p><i class="fa fa-facebook" style="margin-right: 3px;"></i>Facebook</p>
            </div>
          </div>
          <h3 class="post_title" style="color:#4c4e4d"><%=@article.title%></h3>
          <h5 class="bywho">
            By <i> <%= @article.user.name%></i> on <%=@article.created_at.strftime("%A, %b %d")%>
            <i class="fa fa-twitter"><a href="http://www.twitter.com/<%=@article.user.twitter%>" target="_blank"><%=@article.user.twitter%></a></i>
          </h5>
          <div class="post_content row m0 " >
            <div>
              <p> <%=h @article.description.html_safe%></p>
            </div>
            <div class="tag_row">
            <%= raw @article.tags.map(&:name).map { |t| link_to t, tag_path(t) , class:'tag'}.join(' ') %>
            </div>
            <div class="fb-comments" data-href="<%=request.original_url%>" data-numposts="3" data-mobile="true" data-colorscheme="light"></div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%=render 'articles/partials/comment'%>