

<% provide(:title, "#{@article.title}") %>

<section class="row col-sm-8">
  <div class="show-img">
  <%= image_tag @article.image.url(:article) ,class:'img-responsive img-show'%>
  </div>
</section>
<section class="row">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 single-blog sticky content_col">
      <div class="row m0 inner">
        <div class="post_inner row m0">
          <div class="social">
            <a href="https://twitter.com/intent/tweet?text=<%=@article.title%>&url=<%=request.original_url.first(30)%>&via=<%=@article.user.twitter%>" target="_blank">
                <div class="twitter-share">
                  <p><i class="fa fa-twitter" style="margin-right: 3px;"></i>Twitter</p>
                </div>
            </a>
            <div class="facebook-share">
              <p><i class="fa fa-facebook" style="margin-right: 3px;"></i>Facebook</p>
            </div>
          </div>
          <h3 class="post_title show-title" style="color:#4c4e4d"><%=@article.title%></h3>
          <h5 class="bywho">
            By <i> <%= @article.user.name%></i> on <%=@article.created_at.strftime("%A, %b %d")%>
            <i class="fa fa-twitter"><a href="http://www.twitter.com/<%=@article.user.twitter%>" target="_blank"><%=@article.user.twitter%></a></i>
          </h5>
          <div class="post_content row m0 " >
            <div>
              <p> <%=h @article.description.html_safe%></p>
            </div>
            <div class="tag_row">
            <%= raw @article.tags.map(&:name).map { |t| link_to t, tag_path(t) , class:'tag'}.join(' ') %>
            </div>
            <div class="fb-comments" data-href="<%=request.original_url%>" data-numposts="3" data-mobile="true" data-colorscheme="light"></div>

          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 featured_posts">
    <div class="row">
      <%feature_articles.limit(4).each do |article|%>
          <div class="col-sm-3 post">
            <div class="row inner">
              <%= link_to article_path(article) do %>
                  <%= image_tag article.image.url(:small_home) ,class:'featured-img'%>
              <%end%>
              <div class="row m0 content">
                <h4 class="category <%=article.category.name%>">
                  <a href="#" style="color:white;"><%=article.category.name%></a>
                </h4>
                <h2 class="title"><%= link_to article.title , article_path(article)%></h2>
                <ul class="post_meta nav nav-pills">
                  <li><a href=""><%=article.created_at.strftime("%A, %b %d")%> By <%= article.user.name%></a></li>
                </ul>
              </div>
            </div>
          </div>
      <%end%>
    </div>
  </div> <!--Suggest News-->

</section>
<%=render 'articles/partials/comment'%>



