<!--Feature Posts Here-->
<section class="row featured_posts">
  <div class="container-fluid">
    <div class="row" id="featured_posts">
      <% feature_articles[0,1].each do |a| %>
          <div class="col-sm-6 post">
            <div class="row inner">
              <%= image_tag a.image.url(:big_feauture) ,class:'featured-img'%>
              <div class="row m0 content">
                <h4 class="category politics"><a href="#"><%=a.category.name%></a></h4>
                <h2 class="title"><%=link_to a.title, article_path(a)%></h2>
                <ul class="post_meta nav nav-pills">
                  <li><%=link_to a.created_at.strftime("%A, %b %d")%></li>
                  <li><a href="#"><i class="fa fa-thumbs-o-up"></i>1456</a></li>
                  <li><a href="#"><i class="fa fa-commenting"></i>32</a></li>
                </ul>
              </div>
            </div>
          </div>
      <%end%>
      <%if feature_articles.size > 1%>
      <% feature_articles[1,1].each do |a| %>
          <div class="col-sm-6 post">
            <div class="row inner">
              <%= image_tag a.image.url(:med_home) ,class:'featured-img'%>
              <div class="row m0 content">
                <h4 class="category politics"><a href="#"><%=a.category.name%></a></h4>
                <h2 class="title"><%=link_to a.title, article_path(a)%></h2>
                <ul class="post_meta nav nav-pills">
                  <li><%= link_to a.created_at.strftime("%A, %b %d")%></li>
                  <li><a href="#"><i class="fa fa-thumbs-o-up"></i>1456</a></li>
                  <li><a href="#"><i class="fa fa-commenting"></i>32</a></li>
                </ul>
              </div>
            </div>
          </div>
      <%end%>
          <%end%>
      <%if feature_articles.size > 2%>
      <%feature_articles[2,2].each do |a|%>
          <div class="col-sm-3 post">
            <div class="row inner">
              <%= image_tag a.image.url(:small_home) ,class:'featured-img'%>
              <div class="row m0 content">
                <h4 class="category politics"><a href="#"><%=a.category.name%></a></h4>
                <h2 class="title"><%=link_to a.title, article_path(a)%></h2>
                <ul class="post_meta nav nav-pills">
                  <li><%= link_to a.created_at.strftime("%A, %b %d")%></li>
                  <li><a href="#"><i class="fa fa-thumbs-o-up"></i>1456</a></li>
                  <li><a href="#"><i class="fa fa-commenting"></i>32</a></li>
                </ul>
              </div>
            </div>
          </div>
      <%end%>
          <%end%>
    </div>
  </div>
</section>
<!--
    <nav id="featured_page_nav" class="row m0">
        <a href="inc/page2.html"><i class="fa fa-sort"></i></a>
        <span>Load More</span>
    </nav>
-->
<a href="#all_posts" id="tap2allpost"><i class="fa fa-sort"></i></a>
<!--Feature Posts Here-->